#cocheImagen{
    width: 650px;
    border-radius: 20px;
}

#imagen_cabezera{
    width: 100px;
}

#cabezera{
    background-color: rgb(229, 229, 229);
}

.error{
    color: red;
    text-align: center;
}
#cache{
    border: solid black 1px;margin-left: 120px;margin-right: 120px;
}
